/roller-core/.settings/
/planet-business/.settings/
/.settings/
/test-utils/.settings/
/weblogger-business/.settings/
/weblogger-webapp/.settings/
/weblogger-web/.settings/
/rollarcus-web/.settings/
/rollarcus-web/target/